<html>
<head>
<script src="signup_val.js"></script>
</head>
<body>

<div>
	<center>	
		<form action="/pikachu/registration_check/" method ="POST" type="submit">{% csrf_token%}
			FirstName:<br>
			<input type="text" name="firstname" id="firstname" autofocus required = "required"/>
			<br>

			LastName:<br>
			<input type="text" name="lastname" id="lastname" required = "required"/>
			<br>

			email:<br>
			<input type = "text" name = "email" id = "email" required = "required"/>
			<br><br>

			username:<br>
			<input type = "text" name = "username" id = "username" required="required" />
			<br><br>

			password:<br>
			<input type = "password" name = "password" id = "password" required = "required"/>
			<br><br>

			confirm password:<br>
			<input type =  "password" name = "repassword" id = "repassword" required = "required"/>
			<br><br>

			mobilenumber:<br>
			<input type = "text" name = "mobilenumber" id = "mobilenumber" required = "required"/>
			<br><br>

			address: <br>
			<textarea name="address" id="address" rows = "5" cols = "20"></textarea>
			<br><br><br>

			<input type = "submit" value="Register"/>
		</form>
	</center>
</div>
<div>
	<a data-toggle="modal" href="/pikachu/login" data-target="#"><button type="submit" action="/pikachu/login/">Login</button></a>
</div>
</body>
</html>